<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @radio.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @radio.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@radio.price, :unit => '£') %>
</p>

<br>
    <%= image_tag @radio.image %>

<br>
<%= link_to 'Edit', edit_radio_path(@radio) %> |
<%= link_to 'Back', radios_path %>
